body {
    background: url(../images/bg-desktop.svg) var(--cor-padrao-violeta) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 60px;
    height: 100vh;
}

/* HEADER */

.header {
    margin-bottom: 35px;
    padding-top: 30px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.header img {
    max-width: 200px;
}

/* HERO */

.hero {
    width: 100%;
    display: flex;
    gap: 60px;
    max-width: 1440px;
}

.hero img {
    max-width: 70%;
}

.hero .text-register {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.hero .text-register .title {
    font-size: 4rem;
    font-weight: 700;
    padding: 15px 0;
    font-family: 'Poppins', sans-serif;
}

.hero .text-register p {
    font-size: 2rem;
    font-weight: 400;
    max-width: 100%;
    line-height: 25px;
    padding-bottom: 20px;
}

.hero .text-register .btn-register {
    width: 30%;
    padding: 15px 10px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    color: var(--cor-padrao-violeta);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hero .text-register .btn-register:hover {
    background-color: var(--cor-padrao-rosa);
    color: #fff;
    transition: 0.6s;
}

.hero .text-register p,
.hero .text-register .btn-register {
    font-family: 'Open Sans', sans-serif;
}

.hero .text-register .title,
.hero .text-register p {
    color: #fff;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 4%;
}

.social {
    display: flex;
    font-size: 1.5rem;
    gap: 15px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.social a:hover,
.social i:hover {
    border-color: var(--cor-padrao-rosa);
    color: var(--cor-padrao-rosa);
    transition: 0.5s;
}

/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');